<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post">
      <div class="navbar">
        <h3>Create Account</h3>
        <div class="new">
        <a href="/login" class="btn-blue">Login</a>
        <a href="/profile" class="btn-yellow">My Profile</a>
      </div>
      </div>
      <div class="main">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="same"
        />
        <input type="text" name="name" placeholder="Name" class="same" />
        <input type="email" name="email" class="same" placeholder="Email" />
        <input type="number" name="age" class="same" placeholder="Age" />
        <input
          type="password"
          name="password"
          class="same"
          placeholder="Password"
        />
        <button type="submit" class="btn">Create Account</button>
      </div>
    </form>
  </body>
</html>
