<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile-style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
        <div class="a"></div>
       <a href="/logout" class="btn-red">Logout</a>
    </div>
    <h5>Update post </h5>
    <form action="/edit/<%= post._id%>" method="post">
        <textarea name="content" class="post" placeholder="What's on your mind...." rows=4 ><%= post.content %></textarea><br>
        <button type="submit" class="btn-updt">Update</button>
    </form>
  </body>
</html>
