<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.js</title>
</head>
<body>
    <div class="nav">
        <a href="/read" id="read">Read Users</a>
    </div>
    <form class="main" method="post" action="/create">
        <p>Create User</p>
        <div class="sub">
            <input placeholder="Name" type="text" name="name" class="input_text">
            <input placeholder="Email" type="email" name="email"     class="input_text">
            <input placeholder="Image URL" type="url" name="image"     class="input_text">
            <button type="submit">Create User</button>
        </div>
    </form>
</body>
</html>