<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login/Signup</title>
  </head>
  <body>
    <% if(error.length > 0){%>
      <div class="error">
        <%= error %>
      </div>
      <%}%>
    <h1>Store</h1>
    <div class="main">
      <div class="login">
        <form action="/users/login" method="post">
            <h3>Login</h3>
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input type="submit" value="Login" />
        </form>
      </div>
      <div class="signup">
        <form action="/users/register" method="post">
            <h3>Signup</h3>
          <input type="text" name="fullName" placeholder="Full Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input type="submit" value="Sign Up" />
        </form> 
      </div>
    </div>
  </body>
</html>
